/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "FontAwesome5Free-Solid";
  src: url("./fonts/fa-solid-900.eot"); /* IE9 Compat Modes */
  src: url("./fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/fa-solid-900.otf") format("opentype"), /* Open Type Font */
    url("./fonts/fa-solid-900.svg") format("svg"), /* Legacy iOS */
    url("./fonts/fa-solid-900.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/fa-solid-900.woff") format("woff"), /* Modern Browsers */
    url("./fonts/fa-solid-900.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}